.icon-16 {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: unset !important;
}

.icon-24 {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: unset !important;
}

.icon-32 {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: unset !important;
}

.icon-36 {
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-size: unset !important;
}

.icon-48 {
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    background-size: unset !important;
}

.icon-logo {
    src: url("https: //actappg1.misacdn.net/img/Logo_Module_TiengViet_White.66947422.svg");
}

.icon-toggle {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -424px -86px !important;
}

.icon-left-menu-logo {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -424px -86px !important;
}

.icon-three-bar {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -843px -30px !important;
}

.icon-refresh {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -423px -201px !important;
}

.icon-excel {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -704px -200px !important;
}

.icon-setting {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -88px -200px !important;
}

.icon-bell {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -788px -30px;
}

.icon-search {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -992px -360px;
}

.icon-dashboard {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -30px -1628px !important;
}

.icon-cash {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -73px -1628px !important;
}

.icon-deposit {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -117px -1628px !important;
}

.icon-buy {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -161px -1628px !important;
}

.icon-sell {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -204px -1628px !important;
}

.icon-invoice {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -249px -1628px !important;
}

.icon-warehouse {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -291px -1628px !important;
}

.icon-tool {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -336px -1628px !important;
}

.icon-assets {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -378px -1630px !important;
}

.icon-tax {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -423px -1630px !important;
}

.icon-price {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -467px -1628px !important;
}

.icon-sumary {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -510px -1628px !important;
}

.icon-budget {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -378px -1659px !important;
}

.icon-report {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -547px -1628px !important;
}

.icon-analysis {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -204px -1664px !important;
}


/* ===================================================================================== */

.icon-down-arrow {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -1076px -32px !important;
}

.icon-solid-arrow {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -552px -353px;
}


/* =======================Modal ============================================================== */

.icon-close {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -144px -144px;
}

.icon-question {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -89px -144px;
}

.icon-blue-question {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -832px -462px;
}

.icon-check {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -1224px -360px;
}


/* ==============Message======================================================================= */

.icon-error {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -24px -954px;
}

.icon-warning {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -598px -463px;
}

.icon-info {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -672px -462px;
}

.icon-done-36 {
    background-image: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -990px -462px;
}


/* ===================================================================================== */