/*================Display=========*/

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: row;
}

.jc-center {
    justify-content: center;
}


/*def height*/

.h-50p {
    height: 50%;
}


/*def width*/

.w-40p {
    width: 40%;
}

.w-50p {
    width: 50%;
}

.w-60p {
    width: 60%;
}

.w-100p {
    width: 100%;
}

.w-150 {
    width: 150px;
}

.minw-100 {
    min-width: 100px;
}

.minw-120 {
    min-width: 120px;
}

.minw-150 {
    min-width: 150px;
}

.minw-200 {
    min-width: 200px;
}

.minw-250 {
    min-width: 250px;
}


/*def padding*/

.pd-t-10 {
    padding-top: 10px;
}

.pd-t-12 {
    padding-top: 12px;
}

.pd-t-18 {
    padding-top: 18px;
}

.pd-r-6 {
    padding-right: 6px;
}

.pd-r-26 {
    padding-right: 26px;
}

.pd-l-10 {
    padding-left: 10px;
}

.pd-l-16 {
    padding-left: 16px;
}


/*def margin*/

.mt-4 {
    margin-top: 4px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-8 {
    margin-left: 8px;
}


/*------Border  ==*/

.bd-rd-2 {
    border-radius: 2px;
}

.bd-rd-3 {
    border-radius: 3px;
}

.bd-rd-4 {
    border-radius: 4px;
}

.required {
    color: rgb(255, 0, 0);
}

.rot-180 {
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.rot-0 {
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.rot-m90 {
    transform: rotate(-90deg);
    transition: transform 0.2s;
}

.h-flip {
    transform: scaleY(-1);
}

.v-flip {
    transform: scaleX(-1);
}

.v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible;
}

.mustshow {
    display: block !important;
}

.isshow {
    display: block;
}

.d-none {
    display: none !important;
}

.flattern {
    height: 0px;
    transition: height 2s;
}

.disabledButton {
    pointer-events: none;
}

.disabledText {
    cursor: default!important;
    color: #9e9e9e !important;
}

.missing {
    border: 1px solid red !important;
}

.isfocus {
    border: 1px solid #2ca01c;
}

.a-right {
    text-align: right;
}

.a-center {
    text-align: center;
}

.a-left {
    text-align: left;
}

.vertical-center {
    margin: 0;
    /* position: absolute; */
    margin-top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.italic {
    font-style: italic;
}

.ff-r {
    font-family: 'notosans-regular';
}

.ff-b {
    font-family: 'notosans-bold';
}

.fw-b {
    font-weight: bold;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}


/*================================Position=====================*/

.p-relaive {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.top-32 {
    top: 32px !important;
}

.right-0 {
    right: 0px !important
}

.bottom-32 {
    bottom: 32px !important;
}


/*===== Button=======*/

.white-hv:hover {
    background-color: white !important;
}

.white-bg {
    background-color: #ffffff !important;
}

.g-selected {
    background-color: #fff !important;
}